@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-50 text-gray-800;
  font-family: "Outfit", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
